/* body {
    background-color: #ecfbfc;
} */

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #a6b1e1;
    border-width: 5px;
    width: 5%;
}
li{
    color: #30475e;
}
/* Tag Selector */
/* h1{
    color: #903749;
}
h3{
    color: #903749;
}
title{
    color: #903749;
} */

/* Class Selector */
.bg{
    background-color: #b2ebf2;
}
.tabel1{
    background-color: #a4c5c6;
}
/* ID Selector */
#judul{
    color:#06623b;
    font-family:'Trebuchet MS';
}
